PORT=3001
NODE_ENV=development

# Database Setup
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=neura-agents-platform

# Log configuration
LOG_LEVEL=debug

AI_GATEWAY_URL=http://localhost:4000
AI_GATEWAY_KEY=<litellm_key>
STORAGE_SERVICE_URL=http://localhost:3003
TEMPORAL_ADDRESS=localhost:7233
